<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/dashboard" routerLinkActive="active">
                <fa-icon class="signup-icon me-2" [icon]="FaDashboard"></fa-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/dashboard" routerLinkActive="active">
                <fa-icon class="signup-icon me-2" [icon]="FaProductHunt"></fa-icon>
                <span>Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/dashboard" routerLinkActive="active">
                <fa-icon class="signup-icon me-2" [icon]="FaJediOrder"></fa-icon>
                <span>Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/dashboard" routerLinkActive="active">
                <fa-icon class="signup-icon me-2" [icon]="FaSquarePollVertical"></fa-icon>
                <span>Results</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/dashboard" routerLinkActive="active">
                <fa-icon class="signup-icon me-2" [icon]="FaMagnifyingGlassChart"></fa-icon>
                <span>Analysis</span>
            </a>
        </li>
    </ul>
    <div class="logoutbox">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item w-100">
                <a class="nav-link collapsed" routerLink="/" routerLinkActive="active">
                    <fa-icon class="signup-icon me-2" [icon]="FaRightFromBracket"></fa-icon>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>