<div class="d-flex justify-content-center align-items-center w-100 min-vh-100">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form (formGroup)="loginForm" (ngSubmit)="onLogin($event)">
            <h3 class="text-center">Login Form</h3>
            <div class="login-form">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" formControlName="username" type="text" name="username" id="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" formControlName="password" type="password" name="password" id="password">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-50">Login</button>
                </div>
                <div class="text-center">
                    <h5 class="mt-2 my-3">OR Sign-in Using</h5>
                    <div class="d-flex justify-content-center align-items-center">
                        <div id="googleSignInDiv" class="me-3"></div>
                        <fa-icon class="signup-icon" [icon]="faFacebook" (click)="signInWithFB()"></fa-icon>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>